body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header .input {
    width: 100%;
    padding: 8px;
}

.header .btn {
    width: 200px;
    height: 40px;
    font-size: 16px;
    background-color: black;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}